{
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 80,
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.ts", "*.mts"],
            "options": {
                "parser": "typescript"
            }
        }
    ]
}
